body {
    font-family: 'Verdana', sans-serif;
    background-color: darkolivegreen;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.cartao-container {
    background-color: #ffffff;
    width: 350px;
    text-align: center;
    /* Box Model */
    border: 3px solid;
    padding: 30px; /* preenchimento interno */
    margin: 20px;
    border-radius: 10px; /* contorno das pontas */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7); /* Sombra mais sutil */
}

.nome-completo {
    color: rgb(2, 47, 2);
    font-size: 2em;
    margin-bottom: 10px; /* Distancia do nome nos outros elementos */
}

.cargo {
    color: rgb(3, 34, 3);
    font-size: 1.1em;
    margin-bottom: 20px;
}

.contato {
    color: rgb(9, 88, 9);
    font-size: 0.9em;
}